<header class="site-header">
  <div class="site-brand">
    <h1 class="brand-group">
      <a href="https://hkano.com" class="brand-link">
        <img src="/images/logo.png" alt="hkano.com" class="site-logo" />
        <span class="site-title">hkano.com</span>
      </a>
    </h1>
  </div>
  <div class="menu">
    |
    <a href="https://hkano.com">Top</a>
    |
    <a href="https://x.com/hkano" target="_blank">X</a>
    |
    <a href="https://www.facebook.com/kano.hideaki" target="_blank">Facebook</a>
    |
    <a href="https://www.instagram.com/hkano_/" target="_blank">Instagram</a>
    |
    <a href="https://note.mu/hkano" target="_blank">note</a>
    |
  </div>
</header>
