<header class="site-header">
  <div class="site-brand">
    <img src="/images/logo.png" alt="hkano.com logo" class="site-logo" />
    <span class="site-title">hkano.com</span>
  </div>
  <nav class="menu">
    <a href="https://hkano.com">Top</a> |
    <a href="https://x.com/hkano" target="_blank">X</a> |
    <a href="https://www.facebook.com/kano.hideaki" target="_blank">Facebook</a> |
    <a href="https://www.instagram.com/hkano_/" target="_blank">Instagram</a> |
    <a href="https://note.mu/hkano" target="_blank">note</a>
  </nav>
</header>
