<header class="site-header">
  <div class="site-brand">
    <h1 class="brand-group">
      <a href="https://hkano.com" class="site-title">
        <img src="/images/logo.png" width="64" height="64" alt="" class="site-logo">
        <span class="site-name">hkano<span class="dotcom">.com</span></span>
      </a>
    </h1>
  </div>
  <nav class="site-nav">
    <a href="https://hkano.com">Top</a>
    |
    <a href="https://x.com/hkano" target="_blank">X</a>
    |
    <a href="https://www.facebook.com/kano.hideaki" target="_blank">Facebook</a>
    |
    <a href="https://www.instagram.com/hkano_/" target="_blank">Instagram</a>
    |
    <a href="https://note.mu/hkano" target="_blank">note</a>
  </nav>
</header>
